@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');


* {
    font-family: 'Lora', serif;
    --color-1: #fffffe;
    --color-2: #90b4ce;
    color: black;
    padding: 0%;
    margin: 0%;
}

h1 {
    font-family: 'Taviraj', serif;
    text-align: center;
}

h2 {
    font-family: 'EB Garamond', serif;
}

main{
    display: flex; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    flex-wrap: wrap; 
    justify-content: space-between;
    justify-content: center;
    background: linear-gradient(170deg, var(--color-2) 0%, var(--color-2) 15%,var(--color-1) 15%,var(--color-1) 75%, var(--color-2) 75%, var(--color-2) 100%);  
}

header{
    position: sticky;
    top: 0;
    background-color: lightblue;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    background-color: aqua;
}

img{
    border-style:solid;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;  
}

#titulo{
   width: 100%;
}

#imagen{
    width: 19%;      
}

#personalinformation{
    width: 69%;
    padding: 9px;
    margin: 10px;
}    

#experiencia{
    width: 100%;
}

#educacion{
    width: 50%;
}

#habilidades{
    width: 22.3%;
}

#referencia{
    width: 22.3%;
}

#formulario{
    width: 100%;
}

#mapa{
    width: 100%;   
}
