@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');


* {
    font-family: 'Lora', serif;
    --color-1: #fffffe;
    --color-2: #90b4ce;
    color: black;

}


h1 {
    font-family: 'Taviraj', serif;
    text-align: center;
    background: linear-gradient(170deg, var(--color-2) 0%, var(--color-2) 15%, var(--color-1) 15%, var(--color-1) 100%);
}

h2 {
    font-family: 'EB Garamond', serif;
}

main{
    display: flex; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    flex-wrap: wrap; 
    justify-content: space-between;
    background: linear-gradient(170deg, var(--color-1) 0%, var(--color-1) 50%, var(--color-2) 50%, var(--color-2) 100%);
}

head{
    text-align: center;
}

#personalinformation{
    width: 49%;
}    

#experiencia{
    width: 100%;
}

#educacion{
    width: 32.3%;
}

#habilidades{
    width: 32.3%;
}

#referencia{
    width: 32.3%;
}
#formulario{
    width: 100%;
}


#mapa{
    width: 100%;
    
}










